@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.menu {
  position: absolute;
  top: 6.25rem;
  right: 0rem;
  color: black;
  padding: 2rem 0;
  border-radius: 0.3125rem;
  background-color: rgba(191, 219, 247, 0.85);
  width: 9.375rem;
  transition: all .04s ease-in-out;
  text-align: center;
  z-index: 2;


  &__list {
    list-style-type: none;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    
    &--item {
      padding: 0.5rem 0;
      color: $Menu-Color;
      font-size: 22px;
    }

    @include tablet {
      gap: 40px;
    }
  }

  @include tablet {
    width: 16rem;
    height: 25rem;
    top: 9.3rem;
  }
}
