$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$White: #FFFFFF;
$Lightblue: #BFDBF7;
$Header-Blue: #108FAB;
$BG-Blue: #E8FBFE;
$Menu-Color: #434A54;
$grey-ish: #E1E5F2;
$Dark: #022B3A;
$AAACEx: #1F7A8C;