@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.sidebar {
  padding: 1rem;
  

  @include tablet {
    padding: 2.25rem;
  }

  @include desktop {
    padding: 2.25rem 0;
  }
  
  &__molecule{
    display: flex;
    padding-bottom: 1rem;
    // cursor: pointer;

    @include desktop {
      padding-bottom: 1.5rem;
    }
  }
  
  &__image {
    background-color: $grey-ish;
    border-radius: .25rem;
    height: 100px;
    width: 100px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
    &:hover {
      background-color: $White;
      transform: translateY(-5px) translateX(5px);
      box-shadow: 0px 4px 10px rgba(2, 43, 58, 0.3);
      color: $AAACEx;
      // border-radius: 20px;
      transition: all 0.2s ease-in-out;
    }
  }

  &__prev {
    height: 100px;
    cursor: pointer;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.1rem 0;
  }
  
  &__mol-name {
    font-size: .8125rem;
    font-weight: 600;
    color: $Dark;
    cursor: pointer;
  }
}