@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.molviewer {
  display: flex;
  flex-direction: column;

  @include desktop {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  &__placeholder {
    margin: 1.5rem 1rem 0;
    border-radius: .625rem;
    color: $White;
    align-content: end;
    font-size: .625rem;

    @include tablet {
      margin: 2.25rem 2.25rem 0;
    }

    @include desktop {
      width: 70%;
      margin: 2.5rem 1.5rem;
      height: 25rem;
    }
  }

  &__display {
    width: 100%;
    border-radius: .625rem;
    height: 18rem;

    @include tablet {
      height: 25rem;
    }

    @include desktop {
      width: 700px;
      height: 25rem;
    }
  }

  &__initial-state {
    width: 100%;
    border-radius: .625rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 15px;
    padding: 1rem;

    @include tablet {
      height: 25rem;
      font-size: 20px;
    }

    @include desktop {
      width: 700px;

      height: 25rem;
      font-size: 20px;
    }
  }

  &__instructions {
    background-color: $AAACEx;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    letter-spacing: 1px;
  }
}