@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.about {
  // height: 43.75rem;
  // width: 31.25rem;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 5rem 1rem;
  padding: 1.5rem;
  background-color: rgba(31, 122, 140, 0.5);
  border-radius: 1.25rem;
  height: 18.75rem;
  font-size: 1.875rem;
  text-align: center;
  color: $Dark;

  @include tablet {
    margin: 5rem;
    padding: 5rem;
    height: 56.25rem;
  }

  @include desktop {
    margin: 5rem;
    padding: 5rem;
    height: 56.25rem;
  }
}