@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
  background-color: $Header-Blue;
  height: 100px;
  display: flex;
  padding: 0 1rem;
  color: $White;

  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &--right {
      display: flex;
      width: 120px;
      align-items: center;
    }

    &--title{
      color: $White;
      font-weight: 400;
      font-size: 22px;
    }

    &--left {
      display: flex;
      align-items: center;
      color: $White;
    }

    @include desktop {
      margin: 0 auto;
      max-width: 63.75rem;
    }
  }

  @include tablet {
    height: 150px;
    padding: 1rem 2.25rem;
  }

  @include desktop {
    height: 150px;
    padding: 1rem 2.25rem;
  }
}