@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
  background-color: $Header-Blue;
  padding: 1rem;
  color: $White;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 120px;
  transition: max-height 0.4s ease-in-out;

  &--open {
    max-height: 500px; 
  }


  &--closed {
    max-height: 120px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // padding: 1rem 0;

    &--right, &--left {
      display: flex;
      align-items: center;
    }

    &--title {
      color: $White;
      font-weight: 400;
      font-size: 22px;
      width: 190px;

      @include tablet {
        width: 190px;
      }
  
      @include desktop {
        width: 190px;
      }
    }

    @include tablet {
      max-width: 63.75rem;
      margin: 0 auto;
    }

    @include desktop {
      max-width: 63.75rem;
      margin: 0 auto;
    }
  }

  @include tablet {
    padding: 1rem 2.25rem;
    flex-direction: row;
    height: 130px;
    justify-content: space-between;
  }

  @include desktop {
    padding: 1rem 2.25rem;
    flex-direction: row;
    height: 130px;
    justify-content: space-between;
  }

  &__menu {
    display: none;

    @include tablet{
      display: flex;
    }

    @include desktop{
      display: flex;
    }
  }
}

