@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.main {
  
  &--fl {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    height: 700px;
    justify-content: space-around;

    @include tablet {
      padding: 0 2.25rem;
      height: 800px;
    }
  
    @include desktop {
      margin: 0 auto;
      max-width: 63.75rem;
      padding: 0 3.9375rem;
      height: 1000px;
    }
  }

  &__flashcard {
    height: 400px;
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: $Dark;
    align-content: center;

    @include tablet {
      height: 400px;
    }

    @include desktop {
      height: 450px;
      padding: 1.5rem;
    }
  }

  &__container{
    background-color: $grey-ish;
    height: 350px;
    margin: 1rem;
    border-radius: 1rem;

    @include tablet {
      height: 350px;
    }

    @include desktop {
      height: 400px;
      margin: 0;
    }
  }
}

.card {
  height: 150px;
  background-color: $White;
  width: 120px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include tablet {
    padding: 0 1.5rem;
    height: 200px;
  }

  @include desktop {
    height: 250px;
    width: 160px;
  }

  // &:active {
  //   transform: translateY(-5px) translateX(5px);
  //   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  // }
}

