@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.content {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  position: relative;
  z-index: 1;
  padding: 1.5rem 1rem;

  &__title {
    color: $Dark;
    font-size: 24px;
    font-weight: 400;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  &__list {
    list-style-type: none;
    padding: 1rem;
    background-color: rgba(16, 143, 171, 0.5);
    border-radius: .3125rem;

    &--item {
      margin-bottom: 1rem;
    }
  }
}